body {
  width: 100%;
  margin: 0;
  font-family: "Fira Code", "Courier New", Courier, monospace;
}
header {
  display: block;
  /* background: url("./template_1584x396.jpg"); */
  background-color: #1d1d1d;
  height: 364px;
  width: 1552px;
  font-size: 40px;
  padding: 16px;
  margin: 0;
}
.tt {
  color: HSL(120, 90%, 40%);
}
.keyword {
  font-weight: bold;
}
.class {
  color: HSL(200, 90%, 40%);
}
#brackets {
  float: right;
}
.angle-brackets {
  color: HSL(0, 90%, 40%);
}
.curly-brackets {
  color: HSL(60, 90%, 40%);
}
hr {
  color: #4f4f4f;
}
.text {
  color: HSL(200, 0%, 50%);
  float: right;
}
